@font-face {
  font-family: chalkboard;
  src: url('/bundles/visualfeedback/css/fonts/DK.Crayon.Crumble.ttf');
}

body {
  margin: 0;
  padding: 0;
  
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

pre {
  left: 0px;
  top: 1024px;
  position: absolute;
}

.state-hide {
  display: none !important;
}

.red {
  color: #FF8A8A;
}

.modal {
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0px;
  position: fixed;
  display: inline-block;
  
  background-color: #444444;
  opacity: 0.8;
}

.modal.state-show {
  left: 0px;
}

.top-bar {
  height: 48px;
  width: 100%;
  display: inline-block;
  float: left;
}

.top-bar .navigation-bar {
  display: inline-block;
  float: left;
}

.top-bar .navigation-bar .navigation-item {
  cursor: pointer;
  padding: 4px;
  width: 100px;
  
  text-align: center;
  display: inline-block;
  float: left;
  
  text-decoration: underline;
  color: blue;
  
  
}

.top-bar .account-menu {
  display: inline-block;
  float: right;
}

.top-bar .account-menu .account-menu-item {
  width: 100px;
  
  text-align: center;
  display: inline-block;
  float: left;
}

.main-menu-container {
  width: 100%;
  display: inline-block;
  float: left;

  border-bottom: 8px solid #222222;

  background-color: #BBBBBB;
}


.main-menu {
  display: inline-block;
  float: left;
  
  overflow: hidden;
}

.main-menu .menu-item {
  cursor: pointer;
  padding: 8px 8px;
  width: 110px;
  display: inline-block;
  float: left;
  font-size: 16pt;
  text-align: center;
  color: #DDDDDD;
  
  
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  
  
  background-color: #888888;
}

.main-menu .menu-item.state-hover {
  color: #000000;
  
  background-color: #AAAAAA;
}

.main-menu .menu-item.state-selected {
  color: #000000;
  
  background-color: #AAAAAA;
}

.main-menu .menu-item:first-child {
  border-left: 0px solid #DDDDDD;
}

.main-menu .menu-item:last-child {
  border-right: 0px solid #DDDDDD;  
}

.sub-menu-container {
  width: 100%;
  display: inline-block;
  float: left;
  border-bottom: 4px solid #222222;
}

.sub-menu-container .search-bar {
  float: right;
}

.sub-menu-container .search-bar input {
  margin: 8px 32px 0px 0px;
  float: left;
}

.sub-menu-container .search-bar .search-button {
  cursor: pointer;
  padding: 8px 0px;
  min-width: 75px;
  position: relative;
  display: inline-block;
  float: right;
  font-size: 12pt;
  text-align: center;
  color: #DDDDDD;
  
  background-color: #888888;
}

.sub-menu-container .search-bar .search-button .state-hover {
  color: #000000;
  
  background-color: #AAAAAA;
}

.sub-menu {
  float: left;
}

.sub-menu .menu-item {
  cursor: pointer;
  padding: 8px 0px;
  min-width: 75px;
  position: relative;
  display: inline-block;
  float: left;
  font-size: 12pt;
  text-align: center;
  color: #DDDDDD;
  
  
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  
  
  background-color: #888888;
}

.sub-menu .menu-item:first-child {
  border-left: 0px solid #DDDDDD;
}

.sub-menu .menu-item:last-child {
  border-right: 0px solid #DDDDDD;  
}

.sub-menu .menu-item.state-hover {
  color: #000000;
  
  background-color: #AAAAAA;
}

.sub-menu .menu-item .input input {
  vertical-align: top;
}

#image.sub-menu .input {
  padding: 8px;
  left: 75px;
  top: 0px;
  position: absolute;
  overflow: hidden;
  
  border-top: 0px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;

  
  background-color: #DDDDDD;
}

#image.sub-menu .input object {
  float: left;
}

#image.sub-menu .input .uploadifyQueue {
  float: left;
}

.view-container {
  
}

.view {
  width: 100%;
  min-height 400px;
  display: inline-block;
  float: left;
  background-color: #BBBBBB;
}

.view .head {
  width: 100%;
  display: inline-block;
  float: left;
}

.view .head .title {
  margin: 10px;
  width: 100%;
  display: inline-block;
  float: left;
  
  font-size: 16pt;
  text-align: center;
}

.view .body {
  width: 100%;
  display: inline-block;
  float: left;
}

#image.view .search-bar {
  width: 100%;
  display: inline-block;
  float: left;
  text-align: center;
}

#image.view .search-bar .button {
  cursor: pointer;
  padding: 4px 0px;
  width: 80px;
  display: inline-block;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  background-color: #DDDDDD;
}

#image.view .body .image {
  cursor: pointer;
  margin: 16px;
  
  display: inline-block;
  float: left;
  
  text-align: center;
  
  border: 1px solid #000000;
}

#image.view .body .image .label {
  cursor: text;
  display: inline-block;
  font-size: 8pt;
}

#image.view .body .image .icon img {
  width: 64px;
  height: 64px;
}

#tutor.view .body .image {
  cursor: pointer;
  margin: 16px;
  
  display: inline-block;
  float: left;
  
  text-align: center;
  
  border: 1px solid #000000;
}

#tutor.view .body .image .label {
  font-size: 8pt;
}

#tutor.view .body .image .icon img {
  width: 64px;
  height: 64px;
}

#pupil.view .body .image {
  cursor: pointer;
  margin: 16px;
  
  display: inline-block;
  float: left;
  
  text-align: center;
  
  border: 1px solid #000000;
}

#pupil.view .body .image .label {
  font-size: 8pt;
}

#pupil.view .body .image .icon img {
  width: 64px;
  height: 64px;
}

.add-popup {
  z-index: 1999;
  padding: 24px;
  width: 591px;
  height: 366px;
  left: 400px;
  top: 200px;
  position: fixed;
  display: inline-block;
  
  font-family: chalkboard;
  font-size: 16pt;
  color: #FFFFFF;
  
  background: url('/bundles/visualfeedback/images/chalkboard.med.png');
}

.add-popup .button {
  cursor: pointer;
  margin: 4px 0px;
  padding: 4px 0px;
  width: 100px;
  position: relative;
  display: inline-block;
  
  font-family: Calibri;
  font-size: 12pt;
  text-align: center;
  color: #000000;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  background-color: #DDDDDD;
}

.add-popup .popup-view {
  width: 100%;
  display: inline-block;
}

.add-popup .popup-view .head {
  font-size: 20pt;
  text-decoration: underline;
  text-align: center;
  
}

.add-popup .popup-view .body {
  width: 100%;
  height: 300px;
  display: inline-block;
  float: left;
  overflow-y: auto;
  
}

.add-popup .popup-view .foot {
  padding: 4px 0px 0px 0px;
  width: 100%;
  display: inline-block;
  float: left;
}

.add-popup .popup-view .foot .button {
  margin: 0px 16px;
  float: right;
}

.add-person-popup #main.popup-view .body .left {
  width: 25%;
  display: inline-block;
  float: left;
  
  text-align: center;
}

.add-person-popup #main.popup-view .body .left .picture {
  margin: 0px 0px 16px 0px;
  padding: 8px;
  display: inline-block;
  background-color: #FFFFFF;
}

.add-person-popup #main.popup-view .body .left .picture img {
  width: 80px;
  height: 88px;
  display: inline-block;
}

.add-person-popup #main.popup-view .body .left .upload {
  width: 120px;
  position: relative;
  display: inline-block;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.add-person-popup #main.popup-view .body .left .upload .label {
  font-size: 12pt;
  text-align: left;
}

.add-person-popup #main.popup-view .body .left .upload #new-button {
}

.add-person-popup #main.popup-view .body .left .upload .file-upload {
  width: 96px;
  height: 24px;
  left: 12px;
  top: 58px;
  position: absolute;
  display: inline-block;
  
  overflow: hidden;
}

.add-person-popup #main.popup-view .body .right {
  width: 75%;
  display: inline-block;
  float: right;
}

.add-person-popup #main.popup-view .body .right .data-item {
  width: 100%;
  display: inline-block;
  float: left;
}

.add-person-popup #main.popup-view .body .right .data-item .label {
  width: 100px;
  display: inline-block;
}

.add-person-popup #main.popup-view .body .right .data-item .value input {
  padding: 4px 4px 0px 4px;
  margin: 4px 0px 0px 0px;
  width: 300px;
  font-size: 14pt;
  color: #FFFFFF;
  
  background-color: transparent;
  
}

.add-person-popup #image-list.popup-view .body {
  
}

.add-person-popup #image-list.popup-view .body .image {
  cursor: pointer;
  margin: 16px;
  display: inline-block;
  float: left;
  
  text-align: center;
}

.add-person-popup #image-list.popup-view .body .image .icon img {
  height: 64px;
}

.add-person-popup #image-list.popup-view .body .image .label {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 12pt;
  
}

.add-person-popup #image-list.popup-view .foot {
  
}

.add-person-popup #image-list.popup-view .foot #return-button {
  float: right;
}


#add-lesson-popup {
  padding: 24px;
  width: 720px;
  height: 450px;
  
  background: url('/bundles/visualfeedback/images/chalkboard.med.large.png');
}

#add-lesson-popup .body {
  width: 738px;
  height: 382px;
}

#add-lesson-popup .body .input {
  margin: 0px 0px 4px 0px;
}

#add-lesson-popup .body .input .data-item {
  margin: 0px 8px 0px 0px;
}

#add-lesson-popup .body .selected-images {
  margin: 0px 8px 8px 8px;
  padding: 2px 0px 0px 0px;
  width: 700px;
  height: 96px;
  position: relative;
  display: inline-block;
  
  border: 2px solid #FFFFFF;
}

#add-lesson-popup .body .selected-images .drop-message {
  width: 100%;
  left: 0px;
  top: 24px;
  position: absolute;
  display: inline-block;
  
  text-align: center;
}

#add-lesson-popup .body .selected-images .image {
  z-index: 2999;
  cursor: move;
  min-height: 64px;
  min-width: 64px;
  display: inline-block;
}

#add-lesson-popup .body .selected-images .image img {
  height: 64px;
}

#add-lesson-popup .body #image-list-label {
  width: 718px;
}


#add-lesson-popup .body #image-list-label .filter {
  float: right;
}

#add-lesson-popup .body .image-list {
  margin: 0px 8px 8px 8px;
  padding: 4px 2px;
  width: 696px;
  height: 144px;
  display: inline-block;
  overflow-y: auto;

  border: 2px solid #FFFFFF;
}

#add-lesson-popup .body .image-list .image {
  z-index: 2999;
  cursor: move;
  display: inline-block;
}

#add-lesson-popup .body .image-list .image img {
  height: 64px;
}

#add-lesson-popup .body .image-list .image .label {
  display: none;
}



