@font-face {
  font-family: chalkboard;
  src: url('/bundles/visualfeedback/css/fonts/DK.Crayon.Crumble.ttf');
}

body {
  margin: 0;
  padding: 0;
  
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  left: 0px;
  top: 1024px;
  position: absolute;
}

.state-hide {
  display: none !important;
}

.top-bar {
  height: 48px;
  width: 100%;
  display: inline-block;
  float: left;
}

.top-bar .navigation-bar {
  display: inline-block;
  float: left;
}

.top-bar .navigation-bar .navigation-item {
  cursor: pointer;
  padding: 4px;
  width: 100px;
  
  text-align: center;
  display: inline-block;
  float: left;
  
  text-decoration: underline;
  color: blue;
  
  
}

.top-bar .account-menu {
  display: inline-block;
  float: right;
}

.top-bar .account-menu .account-menu-item {
  width: 100px;
  
  text-align: center;
  display: inline-block;
  float: left;
}

.main-menu-container {
  width: 100%;
  display: inline-block;
  float: left;

  border-bottom: 8px solid #222222;

  background-color: #BBBBBB;
}


.main-menu {
  display: inline-block;
  float: left;
  
  overflow: hidden;
}

.main-menu .menu-item {
  cursor: pointer;
  padding: 8px 8px;
  width: 100px;
  display: inline-block;
  float: left;
  font-size: 20pt;
  text-align: center;
  color: #DDDDDD;
  
  
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  
  
  background-color: #888888;
}

.main-menu .menu-item.state-hover {
  color: #000000;
  
  background-color: #AAAAAA;
}

.main-menu .menu-item.state-selected {
  color: #000000;
  
  background-color: #AAAAAA;
}

.main-menu .menu-item:first-child {
  border-left: 0px solid #DDDDDD;
}

.main-menu .menu-item:last-child {
  border-right: 0px solid #DDDDDD;  
}

.sub-menu-container {
  width: 100%;
  display: inline-block;
  float: left;
  border-bottom: 4px solid #222222;
}

.sub-menu-container .search-bar {
  float: right;
}

.sub-menu-container .search-bar input {
  margin: 8px 32px 0px 0px;
  float: left;
}

.sub-menu-container .search-bar .search-button {
  cursor: pointer;
  padding: 8px 0px;
  min-width: 75px;
  position: relative;
  display: inline-block;
  float: right;
  font-size: 14pt;
  text-align: center;
  color: #DDDDDD;
  
  background-color: #888888;
}


.sub-menu {
  float: left;
}

.sub-menu .menu-item {
  cursor: pointer;
  padding: 8px 0px;
  min-width: 75px;
  position: relative;
  display: inline-block;
  float: left;
  font-size: 14pt;
  text-align: center;
  color: #DDDDDD;
  
  
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  
  
  background-color: #888888;
}

.sub-menu .menu-item:first-child {
  border-left: 0px solid #DDDDDD;
}

.sub-menu .menu-item:last-child {
  border-right: 0px solid #DDDDDD;  
}

.sub-menu .menu-item.state-hover {
  color: #000000;
  
  background-color: #AAAAAA;
}

.sub-menu .menu-item .input input {
  vertical-align: top;
}

#image.sub-menu .input {
  padding: 8px;
  left: 75px;
  top: 0px;
  position: absolute;
  overflow: hidden;
  
  border-top: 0px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;

  
  background-color: #DDDDDD;
}

#image.sub-menu .input object {
  float: left;
}

#image.sub-menu .input .uploadifyQueue {
  float: left;
}

.view-container {
  
}

.view {
  width: 100%;
  min-height 400px;
  display: inline-block;
  float: left;
  background-color: #BBBBBB;
}

.view .head {
  width: 100%;
  display: inline-block;
  float: left;
}

.view .head .title {
  margin: 10px;
  width: 100%;
  display: inline-block;
  float: left;
  
  font-size: 16pt;
  text-align: center;
}

.view .body {
  width: 100%;
  display: inline-block;
  float: left;
}

#image.view .search-bar {
  width: 100%;
  display: inline-block;
  float: left;
  text-align: center;
}

#image.view .search-bar .button {
  cursor: pointer;
  padding: 4px 0px;
  width: 80px;
  display: inline-block;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  background-color: #DDDDDD;
}

#image.view .body .image {
  cursor: pointer;
  margin: 16px;
  
  display: inline-block;
  float: left;
  
  text-align: center;
  
  border: 1px solid #000000;
}

#image.view .body .image .label {
  font-size: 8pt;
}

#image.view .body .image .icon img {
  width: 64px;
  height: 64px;
}

#tutor.view .body .add-popup {
  padding: 24px;
  width: 591px;
  height: 366px;
  display: inline-block;
  
  font-family: chalkboard;
  font-size: 16pt;
  color: #FFFFFF;
  
  background: url('/bundles/visualfeedback/images/chalkboard-med.png');
}

#tutor.view .body .add-popup .data-item .value input {
  padding: 4px;
  margin: 4px 0px 0px 0px;
  width: 500px;
  font-size: 16pt;
  font-family: chalkboard;
  color: #FFFFFF;
  
  background-color: transparent;
  
}





