.view-container {
  
}

.view {
  width: 100%;
  min-height: 400px;
  display: inline-block;
  float: left;
  background-color: #BBBBBB;
}

.view .head {
  width: 100%;
  display: inline-block;
  float: left;
}

.view .head .title {
  margin: 10px;
  width: 100%;
  display: inline-block;
  float: left;
  
  font-size: 16pt;
  text-align: center;
}

.view .body {
  width: 100%;
  display: inline-block;
  float: left;
}

.view .body table {
  border-collapse: collapse;
}

.view .body table th {
  border: 1px solid #000000;
}

.view .body table td {
  border: 1px solid #000000;
}

.view .body table .id {
  text-align: center;
}

.view .body table .hash {
  display: none;
}

.view .body table .tutor-id {
  display: none;
}

.view .body table .pupil-id {
  display: none;
}

.view .body table tr {
  cursor: pointer;
}

.view .body table tr.state-hover {
  color: #000000;
  background-color: #FFFFFF;
}

.view .body table td {
  padding: 4px;
}

