body {
  margin: 0;
  padding: 0;
  
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

pre {
  left: 0px;
  top: 1024px;
  position: absolute;
}

input.state-error,
select.state-error {
  outline: 2px solid #FF0000;
}

.state-hide {	
  display: none !important;
}

.red {
  color: #FF8A8A;
}

.modal {
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0px;
  position: fixed;
  display: inline-block;
  
  background-color: #444444;
  opacity: 0.8;
}

.modal.state-show {
  left: 0px;
}

#display-image {
  padding: 16px;
  height: 400px;
  left: 100px;
  top: 100px;
  position: absolute;
  display: inline-block;
  
  
  border: 4px solid #000000;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

#display-image img {
  height: 100%;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

#display-text {
  padding: 100px;
  left: 100px;
  top: 100px;
  position: absolute;
  display: inline-block;
  
  font-size: 100pt;
  font-weight: bold;
  
  border: 4px solid #000000;
}

#answer-controls {
  z-index: 50;
  left: 8px;
  bottom: 0px;
  width: 360px;
  height: 240px;
  
  position: fixed;
}

#answer-controls .wrapper {
  z-index: 60;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

#answer-controls img.background {
  z-index: 70;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
}

#answer-controls .icon {
  z-index: 100;
  cursor: pointer;
  padding: 2px;
  width: 64px;
  height: 64px;
  display: inline-block;
  
  font-size: 12pt;
  text-align: center;
  color: #FFFFFF;
  
  border: 2px solid #FFFFFF;
}

#answer-controls .prev-question {
  bottom: 140px;
  left: 32px;
  position: absolute;
  display: inline-block;
}
#answer-controls .content-type {
  bottom: 140px;
  left: 144px;
  position: absolute;
  display: inline-block;
}
#answer-controls .next-question {
  bottom: 140px;
  left: 260px;
  position: absolute;
  display: inline-block;
}

#answer-controls .yes-button {
  bottom: 30px;
  left: 202px;
  position: absolute;
  display: inline-block;
}
#answer-controls .no-button {
  bottom: 30px;
  left: 88px;
  position: absolute;
  display: inline-block;
}


#answer-controls .pull-tab {
  padding: 2px;
  height: 24px;
  top: -30px;
  left: 140px;
  position: absolute;
  display: inline-block;
  
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 0px solid #000000;
  border-left: 2px solid #000000;
  
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}

#answer-controls .pull-tab .icon {
  height: 32px;
}

#answer-controls .pull-tab .icon .row {
  padding: 2px 0px;
  width: 100%;
  height: 2px;
  display: inline-block;
  float: left;
  text-align: center;
}


#answer-controls .pull-tab .icon .row .line {
  width: 20px;
  height: 100%;
  display: inline-block;
  
  background-color: #000000;
}

#answer-controls .pull-tab .icon .row .small.line {
  width: 10px;
}

#answer-controls .pull-tab .icon .row .med.line {
  width: 20px;
}

#answer-controls .pull-tab .icon .row .long.line {
  width: 30px;
}





























