/web/bundles/visualfeedback/images/uploads/
/web/bundles/visualfeedback/images/tutor_icons/
/web/bundles/acmedemo/
/web/bundels/framework/
/web/bundels/sensiodistribution/
/web/bundleswebprofiler/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
*~
